.TopContainer{
  background-color: pink;
  padding: 25px;
}

.middle-container{
  padding: 100px 0;
  background-color: #FFEEAF25;
}

/* 16px = 1em = 100% */

h1{
  margin: 10px auto 0;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 9rem;
  color : #A460ED;
  line-height: 2;
}

h2{
  font-size: 2.5rem;
  color: #A460ED;
  font-weight: normal;
}

h3{
  color : #11999E;
}

a{
  color : #11999E;
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000000CC;
}

.profile-img{
  border-radius: 100%;
}

.skill-row{
  /* display: inline-block; */
  width: 50%;
  margin : 100px auto;
  text-align: left;
  line-height: 2;
  /* margin-right : auto; */
}

.skill-img{
  width: 25%;
  border-radius: 10%;
}

.computer-img{
  float: left;
  margin-right: 30px;
}

.swim-img{
  float: right;
  margin-left: 30px;
}

.top-cloud{
  position: relative;
  left : 350px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.divide-line{
  border-style: dotted none none;
  width: 9%;
  border-width: 9px;
  margin: 100px auto;
  border-color: #F7ECDE;
}

/***********BottomContainer*****************/

.bottom-container{
  background-color: #66BFBF;
  padding: 40px;
  /* margin-top: 100px; */
}

.footer-link{
  color: #11999E;
  margin: 0 30px 50px 0;
  text-decoration: none;
}

.footer-link:hover{
  color: black;
}

.bottom-name{
  color : white;
  font-size: 0.8rem;
  margin: 40px 0 0;
}

.btn {
  /* margin-top: 1900px; */
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover{
  background: #d9d93b;
  background-image: -webkit-linear-gradient(top, #d9d93b, #35d4d1);
  background-image: -moz-linear-gradient(top, #d9d93b, #35d4d1);
  background-image: -ms-linear-gradient(top, #d9d93b, #35d4d1);
  background-image: -o-linear-gradient(top, #d9d93b, #35d4d1);
  background-image: linear-gradient(to bottom, #d9d93b, #35d4d1);
  color: #000000AA;
  text-decoration: none;
}
